*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style: none;
}

:root{
  --mainColor: #9BF00B;
  --dark10: #0C0C0C;
  --dark20: #777777;
  --dark30: #C0C0C0;
  --dark40: #FFFFFF;
}

body{
  background: #0D100C;
}

/******** NAV ********/
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.ul-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
}

.li-nav a {
  color: var(--dark40);
  font-weight: 600;
  font-size: 0.875rem;
}

#btn-nav{
  background: var(--mainColor);
  padding: 12px 32px;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

/******** HEADER ********/
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.title-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

h1{
  font-weight: 700;
  font-size: 4.5rem;
  color: var(--dark40);
}

#titleGreenH1{
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--mainColor);
  text-align: center;
  text-transform: uppercase;
}

.img-header{
  margin-top: 48px;
}

/******** DESCRIÇÃO ********/
.descricao-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-top: 100px;
}

#titleGreenH2{
  font-weight: 600;
  font-size: 4rem;
  color: var(--mainColor);
}

#titleDescricaoH2{
  font-weight: 600;
  font-size: 4rem;
  color: var(--dark40);
}

.text-descricao{
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--dark30);
  margin-top: 24px;
}

#controleXbox{
  width: 350px;
  height: 250px;
}

/******** JOGOS ********/
.jogos{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 95px;
}

/******** ACORDEON ********/
.secao-acodeon{
  display: flex;
  justify-content: center;
  margin-top: 95px;
}

#titleGreenH3{
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  color: var(--mainColor);
}

h3{
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  color: var(--dark40);
}

.text-acodeon{
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--dark40);
  margin-top: 32px;
}

.acodeon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

ion-icon{
  color: var(--dark30);
  font-size: 16px;
}

/******** FOOTER ********/
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 380px;
  padding: 48px;
}

.footer-text{
  display: flex;
  gap: 55px;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--dark20);
}